#mightyshare-admin-header{
    display:flex;
    align-items:center;
    background:#2e66d2;
    margin:0 0 10px -20px;
    padding:0 20px 0 22px;
    overflow:hidden
}
#mightyshare-page-title{
    font-size:24px;
    color:#fff
}
#mightyshare-admin-header #mightyshare-admin-header-buttons{
    text-transform:uppercase;
    line-height:60px;
    height:60px;
    display:flex;
    flex-grow:1;
    justify-content:flex-end;
    align-items:center;
    margin:0 0 0 20px
}
#mightyshare-admin-header #mightyshare-admin-header-buttons a{
    padding:8px 10px;
    color:#fff;
    text-decoration:none;
    margin:0 0 0 10px;
    line-height:normal;
    font-size:13px;
    border-radius:3px
}
#mightyshare-admin-header #mightyshare-admin-header-buttons a.mightyshare-active,#mightyshare-admin-header #mightyshare-admin-header-buttons a:hover{
    background:rgba(0,0,0,.3)
}
#mightyshare-admin-header #mightyshare-admin-header-notice{
    float:right;
    color:#fff;
    line-height:60px
}
#mightyshare-admin-header #mightyshare-admin-header-notice a{
    color:#fff;
    font-weight:700
}
#mightyshare-settings-page .mightyshare-settings-section h2{
    font-weight:bold;
    font-size:18px;
    line-height:normal;
    margin:0;
    padding-bottom:15px;
    border-bottom:1px solid #e8eef1
}
.mightyshare-image-preview img{
    border:1px solid #000;
    margin-top:0.6em;
    max-width: 320px;
    max-height:220px;
}
#mightyshare-settings-page .notice {
    margin: 10px 0px;
}
.form-table td label {
    display:initial;
}
 .mightyshare-settings-section .mightyshare-toggler-wrapper{
    display:block;
    width:45px;
    height:25px;
    cursor:pointer;
    position:relative
}
.mightyshare-toggler-wrapper input[type=checkbox]{
    display:none
}
.mightyshare-toggler-wrapper input[type=checkbox]:checked+.toggler-slider{
    background-color:#2e66d2
}
.mightyshare-toggler-wrapper .toggler-slider{
    background-color:#ccc;
    position:absolute;
    border-radius:100px;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-transition:all .18s ease;
    transition:all .18s ease
}
.mightyshare-toggler-wrapper .toggler-knob{
    position:absolute;
    -webkit-transition:all .18s ease;
    transition:all .18s ease;
    width:calc(25px - 6px);
    height:calc(25px - 6px);
    border-radius:50%;
    left:3px;
    top:3px;
    background-color:#fff
}
.mightyshare-toggler-wrapper input[type=checkbox]:checked+.toggler-slider .toggler-knob{
    left:calc(100% - 19px - 3px)
}
.postbox{
    border-color:#d1d6d9;
    border-radius:2px;
}
.mightyshare-label.checkbox{
    margin-right:10px;
}
.mightyshare-upload-img-button img{
    background:#e9eef0;
    padding:0.5em;
}
.mightyshare-description{
    max-width:540px;
}
#mightyshare-api-key-status.loaded{
    display:block
}
#mightyshare-api-key-status.loaded.success{
    color:#27ae60;
}
#mightyshare-api-key-status.loaded.fail{
    color:#c0392b;
}
.mightyshare-template-picker{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:.5em
}
.mightyshare-template-picker img{
    max-width:100%;
    height:auto
}
.mightyshare-template-picker .title{
    font-weight:700;
    padding:.3em 1em .5em 1em;
    text-align:center
}
.mightyshare-template-picker .template-block{
    border:3px solid transparent;
    cursor:pointer;
    padding:.5em
}
.mightyshare-template-picker .template-block:hover{
    border-color:#dcdcde;
    background-color:#efefef
}
.mightyshare-template-picker .template-block.active{
    border-color:#5dade2;
    background-color:#d6eaf8
}
.paid-only{
    pointer-events:none;
    opacity:0.5;
}
@media all and (max-width:782px){
    #mightyshare-page-title{
        font-size:18px
    }
}
