
/* correct small-text numbers */
.simple-field input[type=number].small-text {
	width: 65px;
}
.simple-field .simple-label{
	display:block;
	padding: 2px 0;
	color: #23282d;
}
.simple-field input[type="checkbox"] + label{
	display: inline;
}
.simple-upload-img-button{
	display:inline-block;
}
.simple-upload-img-button img{
	border:1px solid #f1f1f1;
}
.postbox .simple-upload-img-button img{
	border-color:#fff;
}


.simple-radio-inline{
	margin-right:20px;
}
.simple-radio-inline label{
	display:inline;
}

.simple-gallery-field{
	padding:0;
	margin:0;
	margin-left:-3px;
}
.simple-gallery-field li{
	display:block;
	cursor:-webkit-grab;
	margin-right:3px;
	margin-bottom:3px;
	float:left;
	position:relative;
	padding:1px;
	border:3px solid transparent
}
.simple-gallery-field li>span{
	display:block;
	width:100px;
	height:100px;
	background-position:center center;
	background-color:#ccc;
	background-size:cover
}
.simple-gallery-field li.simple-gallery-active{
	padding:1px;
	border:3px solid #0073aa
}
.simple-gallery-field li a.simple-gallery-remove{
	display:none;
	position:absolute;
	top:-7px;
	right:-6px;
	color:#fff;
	text-decoration:none;
	font-size:20px;
	opacity:1;
	background-color:#0073aa;
	box-shadow:0 0 0 1px #fff,0 0 0 2px #0073aa;
	z-index:10;
	width:20px;
	height:20px;
	line-height:18px;
	text-align:center
}
.simple-gallery-field li.simple-gallery-active a.simple-gallery-remove{
	display:block
}
.simple-gallery-field li:active{
	cursor:-webkit-grabbing
}
.simple-counter{
	font-size: 12px;
	color: #888;
	margin-left: 2px;
	margin-top:2px;
}
.simple-metabox__hide{
	display:none;
}
